body {
    margin     : 0;
    padding    : 0;
    font-family: 'Dosis', sans-serif;
}

* {
    box-sizing: border-box;
}

.ptb {
    padding-top   : 70px;
    padding-bottom: 70px;
}

.navbar-brand img {
    max-height: 25px;
}

.icofont-navigation-menu:before {
    content: "\efa2";
}

.navbar-nav a {
    font-weight: 600;
}

.navbar-nav li:hover {
    color: #49b5e7;
}

.banner-section {
    background-color: #f9f9f9;
    font-family     : 'Dosis', sans-serif;
    font-weight     : 700;
}

.banner-button button {
    background    : #49b5e7;
    border-radius : 3px;
    letter-spacing: 1px;
    font-weight   : 500;
}

.banner-heading h2 {
    font-size     : 42px;
    font-weight   : 700;
    line-height   : 56px;
    color         : #0f394c;
    text-transform: uppercase;
}

.banner-h3 h3 {
    color    : #1c698c;
    font-size: 20px;
}

.about-section,
.what-we-achive,
.clients,
.services,
.portfolio-section {
    font-family: 'Dosis', sans-serif;
}

.about-left {
    background: url(../images/about.jpg);
}

.about-right-heading h2 {
    color      : #0f394c;
    font-family: 'Dosis', sans-serif;
    font-size  : 30px;
    font-weight: 700;
}

.about-right p {
    font-size: 18px;
}

.about-right i {
    color    : #49b5e7;
    font-size: 32px;
}

.about-right i:hover {
    color: white;
}

.bdr {
    width        : 64px;
    height       : 64px;
    border       : 2px solid #d0ecf9;
    border-radius: 50px;
}

.bdr:hover {
    background-color: #49b5e7;
}

.abt-hed {
    color: #343a40;
}

.abt-hed p {
    font-size  : 14px;
    line-height: 22px;
    font-family: "Open Sans", sans-serif;
}

.for-circle {
    width           : 100px;
    height          : 100px;
    border          : 2px solid #d0ecf9;
    border-radius   : 50px;
    background-color: #49b5e7;
}

.what-we-achive span {
    font-size  : 44px;
    font-weight: 700;
    display    : block;
    color      : #49b5e7;
    font-family: "Dosis", sans-serif;
}

.what-we-achive {
    background     : url(../images/counts-bg.jpg) center center no-repeat;
    background-size: cover;
    position       : relative;
}

.what-we-achive::before {
    content   : "";
    position  : absolute;
    background: rgba(255, 255, 255, 0.8);
    left      : 0;
    right     : 0;
    top       : 0;
    bottom    : 0;
}

.what-we-achive h2 {
    color: #0f394c;
}

.clients .clients-wrap {
    border-top : 1px solid #eee;
    border-left: 1px solid #eee;
}

.clients .client-logo {
    padding        : 30px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    border-right   : 1px solid #eee;
    border-bottom  : 1px solid #eee;
    overflow       : hidden;
    background     : #fff;
    height         : 120px;
}

.clients .client-logo img {
    max-width : 150px;
    filter    : grayscale(100%);
    transition: 0.3s;
}

.clients .client-logo:hover img {
    max-width: 180px;
    filter   : none;
}

.services {
    background-color: #f4fbfe;
}

.services .icon-box {
    padding      : 30px;
    position     : relative;
    overflow     : hidden;
    border-radius: 10px;
    margin       : 0 10px 40px 10px;
    background   : #fff;
    box-shadow   : 0 10px 29px 0 rgb(68 88 144 / 10%);
}

.services .icon {
    position: absolute;
    left    : -20px;
    top     : calc(50% - 30px);
}

.services .title {
    margin-left  : 40px;
    font-weight  : 700;
    margin-bottom: 15px;
    font-size    : 18px;
}

.services .description {
    font-size    : 14px;
    margin-left  : 40px;
    line-height  : 24px;
    margin-bottom: 0;
}

.icon-box .title a {
    font-size: 15px;
    color    : #111;
}

.icon-box:hover a {
    color          : #49b5e7;
    text-decoration: none;
}

.services .icon i {
    font-size  : 64px;
    line-height: 1;
}

.services .description {
    min-height: 150px;
}

.portfolio-section p {
    font-family: "Open Sans", sans-serif;
    color      : #444444;
    font-size  : 17px;
}

.portfolio-container {
    position: relative;
    height  : 876px;
}

.portfolio-section .first-img {
    position: absolute;
    left    : 0px;
    top     : 0px;
}

.portfolio-section .second-img {
    position: absolute;
    left    : 380px;
    top     : 0px;
}

.portfolio-section .thord-img {
    position: absolute;
    left    : 760px;
    top     : 0px;
}

.portfolio-section .fourth-img {
    position: absolute;
    left    : 0px;
    top     : 292px;
}

.portfolio-section .fifth-img {
    position: absolute;
    left    : 380px;
    top     : 292px;
}

.portfolio-section .six-img {
    position: absolute;
    left    : 760px;
    top     : 292px;
}

.portfolio-section .seventh-img {
    position: absolute;
    left    : 0px;
    top     : 584px;
}

.portfolio-section .eight-img {
    position: absolute;
    left    : 380px;
    top     : 584px;
}

.portfolio-section .nine-img {
    position: absolute;
    left    : 760px;
    top     : 584px;
}

.portfolio-wrap {
    position  : relative;
    overflow  : hidden;
    z-index   : 1;
    background: rgba(255, 255, 255, 0.6);
    max-height: 262px;
    overflow  : hidden;
}

.portfolio-text {
    position  : relative;
    overflow  : hidden;
    z-index   : 1;
    background: rgba(255, 255, 255, 0.6);
    max-height: 262px;
    overflow  : hidden;
}

.portfolio-text:before {
    content   : "";
    background: rgba(255, 255, 255, 0.6);
    position  : absolute;
    left      : 30px;
    right     : 30px;
    top       : 30px;
    bottom    : 30px;
    z-index   : 2;
    opacity   : 0
}

.portfolio-info {
    opacity : 0;
    position: absolute;
    top     : 0;
    left    : 0;
    right   : 0;
    bottom  : 0;
    z-index : 3;
}

.portfolio-info:before {
    display    : block;
    content    : "";
    width      : 48px;
    height     : 48px;
    position   : absolute;
    top        : 35px;
    left       : 35px;
    border-top : 3px solid #bdc6ca;
    border-left: 3px solid #bdc6ca;
    z-index    : 9994;
}

.portfolio-info h4 {
    font-size  : 20px;
    color      : #0f394c;
    font-weight: 600;
}

.porfolio-link {
    z-index: 4;
}

.porfolio-link a {
    color    : #49b5e7;
    margin   : 0 2px;
    font-size: 28px;
    display  : inline-block;
}

.portfolio-link i {
    color: #49b5e7;
    font-weight: bold;
    font-size: 20px;
}

.portfolio-info:after {
    display      : block;
    content      : "";
    width        : 48px;
    height       : 48px;
    position     : absolute;
    bottom       : 35px;
    right        : 35px;
    border-bottom: 3px solid #bdc6ca;
    border-right : 3px solid #bdc6ca;
    z-index      : 9994;
}

.portfolio-info:hover {
    background-color: rgba(255, 255, 255, 0.6);
    opacity         : 1;
    transition      : all 2s ease;
    transform       : scale(1.1);
}